<footer>
    <p>ברוכים הבאים</p>
    <h1>לחברה פיקטיבית</h1>
    <hr>
    <aside >
        טקסט על התמונות סליידר כאופציהטקסט על התמונות סליידר כאופציהטקסט על התמונות סליידר כאופציהטקסט על התמונות סליידר כאופציהטקסט על התמונות סליידר כאופציהטקסט על התמונות סליידר כאופציהטקסט על התמונות סליידר כאופציה
    </aside>
    <i class="arrow down"></i>
</footer>