<nav>
    <div class="menu">
    <a href="/">עמוד הבית</a>
    <div class="subnav">
        <a class="subnavbtn" href="/about">אודות<i class="fa fa-caret-down"></i></a>
        <div class="subnav-content">
            <a href="#company">פרופיל החברה</a>
            <a href="#team">הנהלה וצוות החברה</a>
            <a href="#careers">קוד אתי</a>
            <a href="#careers">אישורים ואבטחת איכות</a>
        </div>
    </div>
    <a href="#">תחומי פעילות</a>
    <a href="#">מסופים</a>
    <a href="#">חדשות</a>
    <a href="#">יצירת קשר</a>
    </div>
</nav>